<p>
  <strong>Name:</strong>
  <%= @macro.name %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @macro.tags %>
</p>

<p>
  <strong>Description:</strong>
  <%= @macro.description %>
</p>

<p>
  <strong>Json:</strong>
  <%= @macro.json %>
</p>

<p>
  <strong>Package:</strong>
  <%= @macro.package_id %>
</p>

<%= link_to 'Edit', edit_macro_path(@macro) %> |
<%= link_to 'Back', macros_path %>
