<div class="login">
  <%= form_tag(:action => 'attempt_login') do %>
      <table>
        <tr>
          <td><%= label_tag(:subdomain) %></td>
          <td><%= text_field_tag(:subdomain) %></td>
        </tr>
        <tr>
          <td><%= label_tag(:username) %></td>
          <td><%= text_field_tag(:username) %></td>
        </tr>
        <tr>
          <td><%= label_tag(:token) %></td>
          <td><%= password_field_tag(:token) %></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td><%= submit_tag("Log In") %></td>
        </tr>
      </table>
  <% end %>
</div>


<%= bootstrap_form_tag(:action => 'attempt_login') do |f| %>
  <%= f.text_field :subdomain %>
  <%= f.submit "Log In", class: "btn btn-success" %>
<% end %>