<h1>Listing Triggers</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Tags</th>
      <th>Description</th>
      <th>Add to account</th>
      <!-- <th>Json</th> -->
      <!-- <th>Package</th> -->
      <th></th>
    </tr>
  </thead>
<!-- <form> -->
  <tbody>
    <% @triggers.each do |trigger| %>
      <tr>
        <td><%= trigger.name %></td>
        <td><%= trigger.tags %></td>
        <td><%= trigger.description %></td>
        <!-- <td><%= trigger.json %></td> -->
        <!-- <td><%= trigger.package_id %></td> -->
        <td><%= link_to 'Add', :action => 'sync', :id => trigger.id %></td>
        <td><%= link_to 'Edit', edit_trigger_path(trigger) %></td>
        <td><%= link_to 'Destroy', trigger, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  <!-- <button type="submit" class="btn btn-default">Submit</button> -->
  </tbody>
<!-- </form> -->
</table>

<br>

<%= link_to 'New Trigger', new_trigger_path %>
