<!DOCTYPE html>
<html>
<head>
  <title>NailedIt</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<%= render 'layouts/header' %>
<body>
<% if !flash[:notice].blank? %>
    <div class="notice alert alert-success">
      <%= flash[:notice] %>
    </div>
<% end %>
<div class="container">
  <%= yield %>
</div>
</body>
</html>